gunicorn
Click
Flask
Flask-SQLAlchemy
Flask-WTF
Flask-Login
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
Werkzeug
WTForms
pytz
ccxt
pandas
yfinance
numpy
matplotlib
torch
torchvision
scikit-learn
scikit-fuzzy
tweepy
configparser
google-cloud-language
