<section class="hero-section">
    <div class="hero-items">

        <div class="topbar-cover2">
            <div class="desc">

                <section class="cd-faq">

                    <!-- Faq Section Begin -->
                    <div class="faq-section spad">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="faq-accordin">
                                        <div class="accordion" id="accordionExample">
                                            <img src="{{
                                            url_for('static', filename = 'img/IS5006_Diagram.png')}}" alt="Diagram">
                                            <div class="card">

                                                <div class="card-heading">
                                                    <a data-toggle="collapse" data-target="#collapseOne">
                                                        What is our Multi-agent System?
                                                    </a>
                                                </div>
                                                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p>Our MAS decides when it is a good time to buy and sell bitcoin (BTC).
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-heading">
                                                    <a data-toggle="collapse" data-target="#collapseTwo">
                                                        How does it decide?
                                                    </a>
                                                </div>
                                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p>We have n agents that calculate some metric, for our decider agent to use.
                                                            <br>
                                                            Our decider uses case-based reasoning to decide from experience whether to make a buy or sale.
                                                            <br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Faq Section End -->


                </section>


            </div>
        </div>


    </div>
</section>
